# Archivos temporales y copias de seguridad
*.bak
*.sch-bak
*.kicad_pcb-bak

# Netlist, reportes y archivos generados
*.net
*.rpt
*.drl
*.gtp
*.gts
*.gbs
*.gbo
*.gko
*.gml
*.gm1

# Carpetas de caché y PyCache si usas scripts en Python
__pycache__/
.cache/
LoRaNode328-backups/
